<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4Hrpvj_46VnhtN0Sg4ljf6Yfi1lQE1Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>433647351108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stack.tsl-wall-app</string>
	<key>PROJECT_ID</key>
	<string>fir-tsl-wall-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tsl-wall-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433647351108:ios:c913baa422878594461311</string>
</dict>
</plist>